
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

.post-above h1 {
  font-family: Montserrat,sans-serif!important;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  margin-top: 28px;
  text-transform: uppercase;
}
.post-content h1, .post-content h1 span, .post-content h2, .post-content h2 span, .post-content h3, .post-content h3 span, .post-content h4, .post-content h4 span {
  font-weight: 800!important;
  font-family: Montserrat,sans-serif!important;
}
.post-content iframe {
  width: 100%;
  height: 400px;
  margin-bottom:20px;
}
.above-image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: center center;
}
.post-content a, .post-content a span {
  color: #037afe!important;
}
.post-wrap {
  max-width: 870px;
  margin: 0 auto;
  padding: 120px 40px 40px;
}
.post-content {
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.post-content p, .post-content span {
  font-family: Montserrat,sans-serif!important;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #000;
}